.form {
  padding: 36px 156px;
}

.delay-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
.delay-input:hover {
  border: 1px solid #000;
}
.delay-input:focus-within {
  border-color: #4e75ff;
}
button {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
button:hover {
  background-color: #6c8cff;
}

fieldset {
  margin-bottom: 24px;
  width: 360px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
fieldset:hover {
  border-color: #000;
}

.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}
